@tailwind base;
@tailwind components;
@tailwind utilities;

/* create font faces */
@font-face {
  font-family: "Vazir";
  src: url("layouts/Vazir.woff") format("woff");
}
@font-face {
  font-family: "Lale";
  src: url("../public/fonts/") format(".otf");
}
/* another styles */
.Slider-bg {
  background: url("/images/Pattern.svg"), #1e2d48;
  background-repeat: no-repeat;
}
.swiper-pagination-bullet {
  transition: all 150ms, background 0.4s;
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  border-radius: 10px !important;
  background: #d1af89;
  width: 50px !important;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
